body {
    margin: 0;
    padding: 0;
    height: 400vh;
  }
  
  #image-sequence {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }
  
  @media screen and (max-width: 480px) {
      #image-sequence{
          width: 96%;
      }
  }
  